<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery       


      <ion-button (click)="saveUser()"> Save user 
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        
        
      </ion-button>
    </ion-title>
    <!-- <ion-button color="secondary">
    </ion-button> -->
    <ion-grid>
      <ion-row>
        <ion-col
          size="6"
          *ngFor="let user of userAux, index as position"
          >
          <ion-label>{{user.name}}</ion-label>
          <ion-button (click)="deleteUser(user.id)" color="light">


          <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button> 

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 "></app-explore-container>
</ion-content>
